GROQ_API_KEY=sua_chave_groq_aqui
SECRET_KEY=uma_chave_secreta_aleatoria
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_app_gmail
VAPID_PUBLIC_KEY=sua_chave_vapid_publica
MP_ACCESS_TOKEN=seu_access_token_mercadopago
